{% if messages %}
     {% for message in messages %}
         <div>
             <strong>{{message|safe}}</strong>
         </div>
     {% endfor %}
{% else %}
{{order}}
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <label>Upload a file</label>
    <input type="file" name="file">
    <select name="model">
          <option value="Person">Person</option>
          <option value="Person_detail">Person Details</option>
    </select>
    <button type="submit">Upload</button>
</form>
{% endif %}